<!-- !Footer -->
<footer class="pf-ftr">
  <!-- Message -->
  <section class="pf-msg pf__item">
    <h1 class="pf-msg__title">Thanks for dropping by!</h1>
    <p class="pf-msg__text">Hopefully we can work together and help a lot of people by making great things.</p>
  </section>
  <section class="pf-creds">
     Site developed in <a rel="noreferrer" href="https://gohugo.io/" target="_blank">Hugo Static Site Generator</a> using <a rel="noreferrer" href="https://github.com/netlify-templates/victor-hugo"  target="_blank">Victor-Hugo</a> (Overkill for this portfolio, but I wanted to try it out). Sweet backgrounds are from <a rel="noreferrer" href="https://www.svgbackgrounds.com/" target="_blank" >SVG Backgrounds</a>. Site hosted on <a rel="noreferrer" href="https://about.gitlab.com/" target="_blank" >GitLab</a> and deployed through <a rel="noreferrer" href="https://www.netlify.com/" target="_blank" >Netlify</a>. Fonts are from <a rel="noreferrer" href="https://fonts.google.com/" target="_blank">Google fonts</a>.
  </section>
</footer>