<nav class="pf-nav pf-nav--int">
  <a href="/" class="pf-nav__link pf-nav__link--home"><img class="pf-nav__logo" src="cf-white.svg" alt="Christian Ferrer Home" /></a>
  <a href="work" class="pf-nav__link pf-nav__link--wrk">Work</a>
  <a href="process" class="pf-nav__link pf-nav__link--pro">Process</a>
  <a href="about" class="pf-nav__link pf-nav__link--abt">About</a>
</nav>
