
/* General */
.yt {
  position: relative;
}
.yt::before {
  padding-top: calc((10.3 / 16) * 100%);
  content:'';
  display: block;
  width: 100%;
}
.yt__vid {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
.abt-title {
  margin: 0 0 1em;
}

/* Left */
.pg-title--abt::before {
  background: var(--abt2);
  background: linear-gradient(to bottom, var(--abt2), var(--abt3));
}
.pf-skl-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: .2em;
  list-style: none;
  margin: 0 0 1em;
  padding: 0;
}
.pf-skl__item {
  text-align: center;
  background: rgba(0,0,0,0.1);
  padding: .5em;
  font-size: .75em;
  text-transform: uppercase;
  margin: 0;
}


/* Right */

/* Beginning */
.abt-beg__marquee {
  display: flex;
  align-items: center;
  vertical-align: middle;
}
.abt-beg__gif-wrap {
  width: 5em;
  overflow: hidden;
  /* display: inline-block; */
  height: 3em;
}
.abt-beg__gif {
  max-width: unset;
  margin-top: -3em;
}
.abt-beg {
  background: var(--beg);
  font-family: 'Times New Roman', serif;
  color: var(--white);
  width: 100%;
  display: flex;
  flex-direction: column;
}
.abt-beg__title {
  font-family: 'Impact', sans-serif;
  font-weight: 700;
  text-transform: unset;
  letter-spacing: unset;
}
.abt-beg__gif--flipped {
  transform: scaleX(-1);
}

.abt-beg__title-text,
.abt-beg__gif {
  vertical-align: middle;
  align-self: center;
}
.abt-beg__subheading,
.abt-beg__marquee {
  font-family: 'Comic Sans Ms', script;
}

/* After */
.abt-aft {
  background: var(--white);
}
.abt-aft__sig-grid {
  margin: 0 0 2em;
}
@media screen and (min-width: 48em) {
  .abt-aft__sig-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(10, 2em);
  }
  .abt-aft__sig {
    grid-column: span 5;
  }
  .abt-aft__sig--1 {
    grid-row: 2;
    grid-column: 1/ span 7;
    position: relative;
    z-index: 1;
  }
  .abt-aft__sig--2 {
    grid-column: 3/span 5;
    grid-row: 4;
  }
  .abt-aft__sig--3 {
    grid-column: 4/span 5;
    grid-row:6;
  }
  .abt-aft__sig--4 {
    grid-column: 5/span 5;
    grid-row:1;
  }
  .abt-aft__sig--5 {
    grid-column: 2/span 8;
    grid-row:8;
  }
}


/* Today */
.abt-tdy {
  background: var(--int);
  color: var(--white);
}