* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}
html {
  scroll-behavior: smooth;
  line-height: 1.5;
  color: var(--dark1);
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: var(--font1), -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
}
h1,h2,h3,h4,h5,h6 {
  font-family: var(--font2);
  margin: 0 0 0.25em;
  line-height: 1;
  font-weight: 400;
}
h1, h2 {
  font-weight: 800;  
  text-transform: uppercase;
  letter-spacing: -0.10rem;
  font-family: var(--font2);
}

p {
  margin: 0 0 1em;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.3em;
}
h4 {
  font-size: 1.2em;
}
h5 {
  font-size: 1.1em;
}
h6 {
  font-size: 1.05em;
}

ul {
  margin: 0 0 1.5em;
  padding: 0 0 0 1em;
}
li {
  margin: 0 0 .5em;
}

a {
  text-decoration: none;
}
/* General */
.txt--yellow {
  color: yellow;
}
.link {
  border-bottom: 1px dotted;
  text-decoration: none;
}
.link--yellow {
  color: yellow;
}
::selection {
  background: var(--wrk);
  color: var(--white);
}

blockquote {
  margin: 1em 0;
  border-top: 2px solid rgba(255,255,255,0.1);
  border-bottom: 2px solid rgba(255,255,255,0.1);
  font-style: italic;
  font-size: 1.25em;
  line-height: 1.2;
  padding: .5em;
  display: block;
}



@media screen and (min-width: 48em) {
  body {
    font-size: calc(16px + 0.2vw);
  }
  h1 {
    font-size: calc(2em + 2vw);
  }
  h2 {
    font-size: calc(1.0em + 1.0vw);
  }
}