.pf-nav {
  position: relative;
  z-index: 3;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: var(--int2);
  grid-gap: 2px;
}
.pf-nav__link {
  padding: 1em .5em;
  font-family: var(--font2);
  font-size: 12px;
  text-transform: uppercase;
  background: var(--int);
  color: var(--white);
  border-top: 5px solid var(--intLight1);
}
.pf-nav__link--home {
  padding: 0;
}
.pf-nav__link--wrk {
  border-top: 5px solid var(--wrk2);
}
.pf-nav__link--pro {
  border-top: 5px solid var(--pro2);
}
.pf-nav__link--abt {
  border-top: 5px solid var(--abt2);
}
.pf-nav__logo {
  height: 3em;
  object-fit: cover;
  width: 5em;
}

@media screen and (min-width: 75em) {
  .pf-nav {
    width: 20em;
  }
}