/*=============================================
=About=
=============================================*/
.pf-abt {
  background: var(--abt);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23eeeeee'/%3E%3Cstop offset='1' stop-color='%23a1a1a1'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23ffffff' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23ffffff' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.14'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
  background-size: cover;
}
.pf-abt__intro {
  margin: 0 0 2em;
}
.pf-abt__title::before {
  background: linear-gradient(to bottom, var(--abt2), var(--abt3));
}
.pf-abt__btn {
  border-color: var(--abt2);
  color: var(--white);
  background: linear-gradient(to bottom, var(--abt2), var(--abt3));
}
.pf-abt__btn:hover {
  background: linear-gradient(to bottom, var(--abt3), var(--abt2));
  color: var(--white);
}

@media screen and (min-width: 48em) {
  .pf-abt {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4em;
  }
}

@media screen and (min-width: 75em) {
  .pf-abt {
    grid-template-columns: repeat( auto-fill, minmax(20em, 1fr) );
  }
}