.pf-ftr {
  background: var(--msg);
  position: relative;
}
.pf-creds {
  text-align: center;
  font-size: .65em;
  color: var(--white);
  opacity: 1;
  padding: 3em 3em 6em;
  opacity: 0.3;
}
.pf-creds a {
  color: var(--white);
  border-bottom: 1px dotted;
}
@media screen and (min-width: 75em) {
  .pf-ftr {
    display: grid;
    grid-template-rows: auto 1fr;
    align-items: center;
  }
}

