/*=============================================
= Intro =
=============================================*/
.pf-hdr {
  background: var(--hdr);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23051e2c'/%3E%3Cstop offset='1' stop-color='%23051e2c' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23092d44'/%3E%3Cstop offset='1' stop-color='%23092d44' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2307273a'/%3E%3Cstop offset='1' stop-color='%2307273a' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23072436'/%3E%3Cstop offset='1' stop-color='%23072436' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23041722'/%3E%3Cstop offset='1' stop-color='%23041722' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%230b3752'/%3E%3Cstop offset='1' stop-color='%230b3752' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
  /* background-attachment: fixed; */
  background-size: cover;
  color: var(--hdrLight1);
  position: relative;
  padding: 2em;
}
.pf-hdr__logo {
  opacity: 0.6;
  justify-self: end;
  width: calc(1em + 10vw);
  /* margin: 0 1em 0 0; */
}
.pf-hdr__title {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pf-hdr__text {
  margin: 0 0 0 1em
}
.pf-hdr__heading {
  margin: 0;
}
.pf-hdr__slogan {
  margin: 0;
}

@media screen and (min-width:75em) {
  .pf-hdr {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
  }
  .pf-hdr__title {
    height: 100vh;
    ;
  }
}