/*=============================================
=Process=
=============================================*/
.pf-pro {
  background: var(--pro);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 100 100'%3E%3Crect x='0' y='0' width='46' height='46' fill-opacity='0.1' fill='%23a6a198'/%3E%3C/svg%3E");
  color: var(--pro4);
}

.pf-pro__num {
  font-weight: 800;
  color: var(--pro2);
}

.pf-pro__title::before {
  background: linear-gradient(to bottom, var(--pro2), var(--pro3))
}
.pf-pro__img-wrap {
  margin: 0 0 0 -2em;
  grid-row: 3/ span 2;
}
.pf-pro__copy {
  grid-row: 2;
  grid-column: span 2;
}
.pf-pro__btn {
  border-color: var(--pro2);
  color: var(--white);
  background: linear-gradient(to bottom, var(--pro2), var(--pro3));
  align-self: start;
  justify-self: start;
}
.pf-pro__btn:hover {
  background: linear-gradient(to bottom, var(--pro3), var(--pro2));
}
.pf-pro__img {
  width: 100%;
}
.pf-pro__steps {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
}

@media screen and (min-width: 48em) {
  .pf-pro__steps {
    grid-template-columns: 1fr;
    grid-gap: unset;
  }
  .pf-pro__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
  }
  .pf-pro__title {
    grid-column: span 2;
  }
}

@media screen and (min-width: 75em) {
  .pf-pro__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /*grid-template-rows: repeat( auto-fill, minmax(10vh, 1fr) );*/
    /* grid-template-rows: repeat(8, 10vh); */
    grid-gap: 2em 4em;
  }
  .pf-pro__img-wrap {
    grid-column: 1/span 5;
    grid-row: 1/span 5;
    margin-left: -10vw;
  }
  .pf-pro__title {
    grid-row: 1;
    grid-column: 6/ span 5;
    margin: 0;
    position: relative;
    display: flex;
  }

  .pf-pro__copy {
    grid-row: 2;
    grid-column: 6/span 6;
  }
  .pf-pro__steps {
    grid-row: 3;
    grid-column: 6/ span 6;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap : 1em;
  }
  .pf-pro__btn {
    grid-row: 4;
    grid-column: 9/span 3;

  }
}
