/*=============================================
= General
=============================================*/
.pf__item {
  padding: 2em;
  position: relative;
  z-index: 2;
}
.pf-btn {
  text-transform: uppercase;
  font-size: .75em;
  letter-spacing: .05em;
  font-weight: 800;
  padding: .75em;
  font-family: var(--font2);
  border: 2px solid rgba(0,0,0,0.2);
  text-decoration: none;
  text-align: center;
  margin: 1em 0;
  color: #333;
  transition: 0.3s ease;
  border-radius: .5em;
  display: inline-block;
}
.pf-btn:hover {
  color: var(--white);
  background: #333;
}
.pf-btn--open {
  background: none;
}
.pf-title {
  position: relative;
}
.pf-title::before {
  content:'';
  width: 10vw;
  height: 100%;
  display: block;
  background: var(--pro2);
  position: relative;
  z-index:3;
  position: absolute;
  right: calc(100% + 1rem);
  /* right: 0; */
}

@media screen and (min-width: 75em) {
  .pf {
    margin: 100vh auto 0;
  }
  .pf__item {
    padding: 10vw;
  }
  
}




.lol {
  background: green;
  min-height: 100vh;
}