/*=============================================
=Recent Work=
=============================================*/
.pf-wrk {
  background: var(--wrk);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%231f73a9' stroke-width='51.9' stroke-opacity='0.05' %3E%3Ccircle fill='%231b6592' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%231c6896' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%231c6b9a' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%231d6e9f' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%231e71a3' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%231f74a7' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%231f77ab' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23207ab0' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23217db4' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%232180b8' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%232283bd' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%232386c1' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%232489c6' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%23258cca' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%23258fcf' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%232692d3' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%232795d7' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%232898dc' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
  /* background-attachment: fixed; */
  background-size: cover;
  position: relative;;
  color: var(--white)
}
.pf-wrk__items {
  display: grid;
  grid-gap: 1em;
}
.pf-wrk__title::before {
  background: linear-gradient(to bottom, var(--wrk2), var(--wrk3))
}
.pf-wrk__item {
  position: relative;
}
.pf-wrk__item::before {
  padding-top: calc((493 / 800) * 100%);
  content:'';
  display: block;
}
.pf-wrk__item-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
}
.pf-wrk__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  grid-column:  1/-1;
  grid-row:  1/-1;
  /* opacity: 0.3; */
  transition: 0.3s ease;
}
.pf-wrk__item-title {
  grid-column: 1/-1;
  grid-row:  1/-1;
  align-self: center;
  justify-self: end;
  text-align: right;
  color: var(--int);
  position: relative;
  z-index:2;
  margin-right: -1em;
  background: linear-gradient(to bottom, var(--wrk2), var(--wrk3));
  padding: .5em;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 800;
  /* color: var(--white); */
  font-family: var(--font2);
  /* letter-spacing: -0.05em; */
}

.pf-wrk__url {
  font-size: .6em;
  letter-spacing: 0.1em;
  text-transform: lowercase;
  font-weight: 400;
}

.pf-wrk__item:hover .pf-wrk__img {
  opacity: 1;
}

.pf-wrk__btn {
  border-color: var(--wrk2);
  color: var(--white);
  background: linear-gradient(to bottom, var(--wrk2), var(--wrk3));
  color: #333;
}
.pf-wrk__btn:hover {
  background: linear-gradient(to bottom, var(--wrk3), var(--wrk2));
  color: #333;
}

@media screen and (min-width: 48em) {
  .pf-wrk__items {
    grid-template-columns: repeat( auto-fit, minmax(20em, 1fr) );
    grid-template-rows: auto 1fr;
    grid-gap: 2em;
  }
}

@media screen and (min-width: 75em) {
  .pf-wrk {
    display: grid;
    grid-template-columns: 24vw 1fr;
    grid-template-rows: auto 1fr;
    grid-gap: 2em;
    position: relative;
  }
  .pf-wrk::before {
    content:'';
    width: 100%;
    display: block;
    height: 20vh;
    background: linear-gradient(to top, rgba(0,0,0,0.89), transparent);
    position: absolute;
    top: -20vh;
    left: 0;
  }
  /* .pf-wrk__text {
    display: flex;
    align-items: center;
  }
  .pf-wrk__lead {
    padding: 0 0 0 2em;
    flex: 1;
    max-width: 30em;
  } */


  .pf-wrk__items {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .pf-wrk__item--primary {
    grid-column: 1/span 2;
    grid-row: 1/span 2;
  }
  .pf-wrk__item--secondary {
    grid-row: 3/span 2;
  }
  .pf-wrk__item--third {
    grid-row: 3/span 1;
    grid-column: 2/span 2;
  }
  .pf-wrk__img {
    /* filter: blur(2px); */
  }
  .pf-wrk__img--top-left {
    object-position: 0 0;
  }
  .pf-wrk__item:hover .pf-wrk__img {
    /* filter: unset; */
  }
}
