/*=============================================
= Nav =
=============================================*/
.pf-nav {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(150px, 1fr) );
  align-content: center;
  display: none;
}
.pf-nav__link--wrk {
  background: var(--wrk);
}
.pf-nav__link--int {
  background: var(--int);
}
.pf-nav__link--pro {
  background: var(--pro);
}
.pf-nav__link--abt {
  background: var(--abt);
}
.pf-nav__link {
  padding: 1em;
  text-align: center;
  color: var(--white);
  text-decoration: none;
}

@media screen and (min-width: 48em) {
  .pf-nav {
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 5;
  bottom: 0;
  }
}