/* container */
@media screen and (min-width: 48em) {
  .pg {
    display: grid;
    grid-template-columns: 1fr 70vw;
  }
}

@media screen and (min-width: 72em) {
  .pg {
    display: grid;
    grid-template-columns: 20em 1fr;
  }
}

/* Left header */
.pg-int {
  padding: 2em;
  line-height: 1;
}
@media screen and (min-width: 48em) {
  .pg-int {
    position: relative;
  }
  .pg-int__inner {
    position: fixed;
    width: 30vw;
    padding: 2em;
    left: 0;
  }
}
@media screen and (min-width: 72em) {
  .pg-int__inner {
    width: 20em;
  }
}

/* Page Title */
.pg-title {
  position: relative;
  display: flex;
  line-height: 1;
}
.pg-title::before {
  content: '';
  background: black;
  width: 2em;
  position: absolute;
  top: 0;
  right: calc(100% + 1rem);
  height: 100%;
}

/* Right Content */
.pg-cnt__item {
  padding: 3em;
}
@media screen and (min-width: 72em) {
  .pg-cnt {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(23em, 1fr))
  }
  
  
}