/* header */
.pg-title--pro::before {
  background: linear-gradient(to bottom, var(--pro2), var(--pro3));
}

/* content */
.pro-num {
  color: var(--pro2);
}
.pro__text {
  background: #EEE;
}

/* 01 sitemap */
.pro-sm {
  background: #EEE;
}

/* 02 wireframe */
.pro-wf,
.pro-wf__text {
  background: var(--white);
}

/* 03 design */
.pro-des,
.pro-des__text {
  background: #EEE;
  /* color: var(--white); */
}

/* 04 design */
.pro-bld,
.pro-bld__text {
  background: var(--white);
  /* color: var(--white); */
}

@media screen and (min-width: 48em) {
  .pro__text {
    padding: 2em;
    /* background: #EEE; */
  }
}

@media screen and (min-width: 72em) {
  .pg-cnt--vert {
    grid-template-columns: unset;
    grid-auto-flow: row;
  }
  .pro-item {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 3em;
    align-items: center;
  }
  .pro__text {
    grid-column: 1 / span 3;
    position: relative;
    grid-row: 1;
    
  }
  .pro__img-wrap {
    grid-column: 3 / span 5;
    grid-row: 1;
  }
}