/*
  Define your resets here or use something like Normalize.css if you like
 */
html {
  scroll-behavior: smooth;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}
