:root {
  --light: rgb(223, 250, 255);
  --font1: 'Source Sans pro', sans-serif;
  --font2: 'Prompt', sans-serif;
  --font3: 'Playfair Display';
  --white: #FFF;
  --dark1: #333;
  /* Homepage */
  --intLight1: rgb(183, 212, 218);
  --hdrLight1: rgb(183, 212, 218);
  --int: #072436;
  --int2: #243f4e;
  --hdr: rgb(7, 36, 54);
  --wrk: #2690d1;
  --wrk2: #f3cc1e;
  --wrk3: #ffe261;
  --pro: #d8e5e9;
  --pro2: rgb(224, 140, 14);
  --pro3: rgb(255, 180, 68);
  --pro4: rgba(10, 50, 95);
  --abt: #a1a1a1;
  --abt2: #cc0000;
  --abt3: #f72d2d;
  --msg: #111;
  /* About */
  /* --beg: rgb(45, 153, 153); */
  --beg: blue;
}