.pg-title--wrk::before {
  background: linear-gradient(to bottom, var(--wrk2), var(--wrk3));
}
.wrk__item {
  line-height: 0;
}
 .wrk__item-title {
  background: linear-gradient(to bottom, var(--wrk2), var(--wrk3));
  line-height: 1;
  padding: 1em;
  text-align: center;
  width: 80%;
  margin: -1em 0 1em 10%;
  position: relative;
}
.wrk__name {
  font-weight: 700;
  text-transform: uppercase;
  font-family: var(--font2);
  font-size: 1.3em;
}

@media screen and (min-width: 75em) {
  .wrk__items {
    /* grid-gap: 3em; */
  }
  .wrk__item {
    text-align: center;
    /* padding: 3em; */
  }
  .wrk__item:nth-child(1) {
    background: #FFF;
  }
  .wrk__item:nth-child(2) {
    background: #f7f7f7;
  }
  .wrk__item:nth-child(3) {
    background: #f4f4f4;
  }
  .wrk__item:nth-child(4) {
    background: #EEE;
  }
  .wrk__item:nth-child(5) {
    background: rgb(228, 228, 228);
  }
  .wrk__item:nth-child(6) {
    background: rgb(228, 228, 228);
  }
  .wrk__item:nth-child(7) {
    background: rgb(226, 226, 226);
  }
  .wrk__item:nth-child(8) {
    background: rgb(214, 214, 214);
  }
  .wrk__item-inner {
    display: grid;
    align-items: stretch;
    position: relative;
  }
  .wrk__img {
    grid-row: 1;
    grid-column: 1;
  }
  .wrk__item-title {
    grid-column: 1/ -1;
    grid-row: 1/ -1;
    transition: 0.3s ease;
    opacity: 0;
    display: grid;
    align-content: center;
    justify-content: center;
    line-height: 1;
    width: unset;
    margin: unset;
  }
  .wrk__item-inner:hover .wrk__item-title{
    background: linear-gradient(to bottom, var(--wrk2), var(--wrk3));
    opacity: 0.9;
  }
}
