---
title: "Christian Ferrer Portfolio"
date: 2019-04-24T00:11:58-07:00
draft: false
metaDescr: "Christian Ferrer -- Front-end Web Developer and designer in Murrieta, CA"
---

<!-- !Loader -->
<section class="pf-ldr"></section>

<!-- !Intro/splash -->
<header class="pf-hdr" id="pfHdr">
  <section class="pf-hdr__title">
    <img class="pf-hdr__logo" src="cf-white.svg" alt="Christian Ferrer" />
    <div class="pf-hdr__text">
      <h1 class="pf-hdr__heading"><span class="pf-hdr__name">Christian Ferrer</span></h1>
      <p class="pf-hdr__slogan">Front-End Web Developer & Designer</p>
    </div>
  </section>
</header>

<main class="pf">

  <!-- !Recent Work -->
  <section class="pf-wrk pf__item" id="pfWrk">

    <div class="pf-wrk__text">
      <h1 class="pf-title pf-wrk__title">Recent <br />Work</h1>
      <p class="pf-lead ">These are some sites that I have both designed and built. These websites were developed in a proprietary CMS platform, Web Shop Manager.</p>
      <p><small>Note that I did not link these sites due to the fact that I do not want their analytics accounts to display hits from this portfolio.</small></p>

      <p><a href="/work"  class="pf-wrk__btn pf-btn">More Work</a></p>
      
    </div>

    <!-- Work Items -->
    <div class="pf-wrk__items">

      <!-- * Item 1 -->
      <figure class="pf-wrk__item pf-wrk__item--primary">
        <div class="pf-wrk__item-inner">
          <img srcset="work/bedslide@2x.jpg 800w , work/bedslide.jpg 400w" src="work/bedslide.jpg" alt="Bedslide"
            class="pf-wrk__img" />
          <figcaption class="pf-wrk__item-title">
            <div class="pf-wrk__name">Bedslide</div>
            <div class="pf-wrk__url">bedslide.com</div>
          </figcaption>
        </div>
      </figure>
      
      <!-- * Item 2 -->
      <figure class="pf-wrk__item ">
        <div class="pf-wrk__item-inner">
          <img srcset="work/paramountautomotive@2x.jpg 800w , work/paramountautomotive.jpg 400w"
            src="work/paramountautomotive.jpg" alt="Paramount" class="pf-wrk__img" />
          <figcaption class="pf-wrk__item-title">
            <div class="pf-wrk__name">Paramount</div>
            <div class="pf-wrk__url">paramount-automotive.com</div>
          </figcaption>
        </div>
      </figure>
      
      <!-- * Item 3 -->
      <figure class="pf-wrk__item pf-wrk__item--third">
        <div class="pf-wrk__item-inner">
          <img srcset="work/moonlitediesel@2x.jpg 800w , work/moonlitediesel.jpg 400w" src="work/moonlitediesel.jpg"
            alt="Moonlite Diesel" class="pf-wrk__img" />
          <figcaption class="pf-wrk__item-title">
            <div class="pf-wrk__name">Moonlite Diesel</div>
            <div class="pf-wrk__url">moonlitediesel.com</div>
          </figcaption>
        </div>
      </figure>
      
      <!-- * Item 4 -->
      <figure class="pf-wrk__item">
        <div class="pf-wrk__item-inner">
          <img srcset="work/kermatdi@2x.jpg 800w , work/kermatdi.jpg 400w" src="work/kermatdi.jpg" alt="Kerma TDI" class="pf-wrk__img" />
          <figcaption class="pf-wrk__item-title">
            <div class="pf-wrk__name">Kerma TDI</div>
            <div class="pf-wrk__url">kermatdi.com</div>
          </figcaption>
        </div>
      </figure>
      
      <!-- * Item 5 -->
      <figure class="pf-wrk__item">
        <div class="pf-wrk__item-inner">
          <img srcset="work/tygerauto@2x.jpg 800w , work/tygerauto.jpg 400w" src="work/tygerauto.jpg" alt="Tyger Auto"
            class="pf-wrk__img pf-wrk__img--top-left" />
          <figcaption class="pf-wrk__item-title">
            <div class="pf-wrk__name">Tyger Auto</div>
            <div class="pf-wrk__url">tygerauto.com</div>
          </figcaption>
        </div>
      </figure>

    </div>

  </section>

  

  <!-- !Process -->
  <section class="pf-pro pf__item" id="pfPro">
    <div class="pf-container pf-pro__container">
      <h1 class="pf-title pf-pro__title">The <br /> Process</h1>
      <div class="pf-pro__img-wrap">
          <img class="pf-pro__img lazyload" src="/process.png" alt="Process" /><br /><br />
      </div>
      
      <p class="pf-pro__copy">My process and workflow for building sites is pretty straight-forward.</p>
      <div class="pf-pro__steps">
        <div class="pf-pro__step pf-pro__step--1">
          <h2 class="pf-pro__step-title"><span class="pf-pro__num">01</span> Site Map</h2>
          <p class="pf-pro__step-copy">Map out all pages to be created for the site.</p>
        </div>
        <div class="pf-pro__step pf-pro__step--2">
          <h2 class="pf-pro__step-title"><span class="pf-pro__num">02</span> Wireframe</h2>
          <p class="pf-pro__step-copy">Create a rough mockup of what the layout will look like.</p>
        </div>
        <div class="pf-pro__step pf-pro__step--3">
          <h2 class="pf-pro__step-title"><span class="pf-pro__num">03</span> Design</h2>
          <p class="pf-pro__step-copy">Design the website based on the foundation of the wireframe.</p>
        </div>
        <div class="pf-pro__step pf-pro__step--4">
          <h2 class="pf-pro__step-title"><span class="pf-pro__num">04</span> Build</h2>
          <p class="pf-pro__step-copy">Build the website utilizing the design comps created.</p>
        </div>
      </div>
      <a href="/process" class="pf-pro__btn pf-btn">More on Process</a>
    
    </div>
  </section>

  <!-- !About -->
  <section class="pf-abt pf__item" id="pfAbt">

    <div class="pf-abt__intro">
      <h1 class="pf-title pf-abt__title">About <br />Myself</h1>
      <p class="pf-abt__text"><strong>Hey there</strong>! My name is Christian Ferrer and I've been professionally designing and building websites for the last 8 years or so. Aside from web stuff, I like gaming (mainly street fighter), computers, photography, and family time. I'm a husband and a new father to a beautiful baby girl, Elyse. I'm originally from San Diego and have grown to be a Chargers fan, even though they moved. Hope that's okay! </p>
      <a href="about" title="Learn More About me" class="pf-abt__btn pf-btn">Still interested?</a>
    </div>
    <div class="pf-abt__exp">
      <h2 class="pf-abt__title2">Quick Resume</h2>
      <ul class="pf-abt__list">
        <li>
          <strong>San Diego State University</strong><br />
          <span>2011 Graduate -- Bachelors in Art - Multimedia</span>
        </li>
        <li>
          <strong>Web Shop Manager</strong> <br />
          <span>2012-2019 -- Front-end Developer and Designer</span>
        </li>
      </ul>
      <a href="https://drive.google.com/open?id=1p9z1sqB7dAqmj64GFTDgPgRJDrGo9ikQ" class="pf-abt__btn pf-btn pf-btn--open" target="_blank" rel="noreferrer">Download Formal Resume</a>
    </div>
    
  </section>

</main>
