---
title: "About"
date: 2019-04-20T00:21:16-07:00
draft: false
metaDescr: "Christian Ferrer -- A little about me"
---

<main class="pg abt">
  
  <!-- !Intro -->
  <section class="abt__item pg-int pf-abt">
    <div class="pg-int__inner">
      <h1 class="pg-title pg-title--abt pg-int__title">About Me</h1>
      <div class="pg-int__item">
        <p><strong>Christian Ferrer</strong></p>
        <p>Front-end Web Developer and Designer</p>
      </div>

      <hr />
      <br />
      <div class="pg-int__item pf-skls">
        <ul class="pf-skl-list">
          <li class="pf-skl__item">HTML</li>
          <li class="pf-skl__item">CSS</li>
          <li class="pf-skl__item">jQuery</li>
          <li class="pf-skl__item">Photoshop</li>
          <li class="pf-skl__item">Git</li>
          <li class="pf-skl__item">Gulp</li>
          <li class="pf-skl__item">Sass/Post CSS</li>
        </ul>
      </div>
    </div>
  </section>

  <!-- !content -->
  <section class="abt__item pg-cnt">

    <!-- Beginning -->
    <div class="pg-cnt__item abt-beg">
      <h2 class="abt-title abt-beg__title">
        <marquee class="abt-beg__marquee" behavior="" direction="left" scrollamount='15'>
          <!-- <img class="abt-beg__gif abt-beg__gif--flipped" src="about/gogeta_14.gif" alt="dragonball" />  -->
          <span class="abt-beg__title-text">The Beginning </span>
          <span class="abt-beg__gif-wrap"><img class="abt-beg__gif" src="about/gogeta_14.gif" alt="dragonball" /></span>
        </marquee>
      </h2>
      <div class="abt-beg__copy">
        <h3 class="abt-beg__subheading">It all started on NeoPets.</h3>
        <p class="abt-beg__lead">My first taste of web design and development started when I was in middle school around the year 2000-2001. It was in an online game site called <a class="link link--yellow" href="neopets.com" target="_blank" rel="noreferrer">neopets.com</a>. Within the game, you could join "guilds", which is similar to a club. Each respective guild was given a custom, HTML-enabled page to represent the guild.</p>
        
        <p><img src="about/JirachiGLS.gif" alt="Sample Guild" class="abt-beg__img"><small>(This isn't mine -- just an example of how the guild pages looked. Wish I still had mine though!)</small></p>
        <p>People had some awesome-looking (at the time) guild pages! This intrigued me so much that I started to research to try and deck out my own guild page.</p>
        
        
        <h3 class="abt-beg__subheading">The Trends</h3>
        <p>At the time, the trend was colorful/eye-bleeding backgrounds and/or tiled patterns. Comic Sans was the king of fonts, with Impact being a close second. Animated gifs, scrolling text, and TyPiNg LiKe THiS would all get you cool points too. </p>

        <marquee behavior="" direction="" class="abt-beg__marquee"><p class="txt txt--yellow"><strong>LiTtLe DiD i kNoW tHaT i'D bE HoOkEd!</strong></p></marquee>

        <p>I remember that <a href="lissaexplains.com" target="_blank" class="link link--yellow">lissaexplains.com</a> was the go-to for learning all the cool HTML Tables and Frame techniques, and I spent hours on that site justtrying to grasp the concepts to build cool stuff.</p>

        <h3 class="abt-beg__subheading">From then on</h3>
        <p>From that point onward, this became one of my hobbies and all I wanted to design and code amazing layouts. I started to dabble more and found myself designing and building random web pages on angelfire/geocities. I also started finding myself getting more interested in other digital mediums. <strong>The door was opened.</strong></p>
      </div>
    </div>

    <!-- After Neopets -->
    <div class="pg-cnt__item abt-aft">
      <h2 class="abt-title abt-aft__title">Life after Neopets</h2>
      <p>There was so many different digital avenues that I ventured after the whole neopets and angelfire/geocities phase. This was a great time to grow up as a kid.</p>

      <h3 class="abt-aft__subtitle abt-subtitle">Forum Signatures</h3>
      <p>I got more into graphic design and found myself joining online graphic design forums. I would enter "signature of the week" competitions to see which user could design the best forum signature. A forum signature was simply a graphic that appears at the end of each of your forum posts. This was the start of me learning graphic design software such as Paint Shop Pro and Adobe Photoshop.</p>

      <div class="abt-aft__sig-grid">
        <img class="abt-aft__sig abt-aft__sig--1" src="about/leehyorisig.png" alt="Sig" />
        <img class="abt-aft__sig abt-aft__sig--2" src="about/overwhelmed2.png" alt="Sig" />
        <img class="abt-aft__sig abt-aft__sig--3" src="about/linktexturedcopy.jpg" alt="Sig" />
        <img class="abt-aft__sig abt-aft__sig--4" src="about/ryucopy.jpg" alt="Sig" />
        <img class="abt-aft__sig abt-aft__sig--5" src="about/kkreuksig.png" alt="Sig" />
      </div>
      

      <h3 class="abt-aft__subtitle abt-subtitle">Video Editing</h3>
      <p>I also ended up diving into video editing in high school. I liked to make short music videos that were sync'd well witht he music. I usually edited video game or anime content. I didn't make anything too crazy at the time, I just liked working and being creative in Windows Movie Maker, hah!</p>
      <div class="yt yt--4by3">
        <iframe class="yt__vid" width="560" height="315" src="https://www.youtube.com/embed/97Tnlh6SWtk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <p><small>(Wow! I can't believe this video is 13 years old).</small></p>

      <h3 class="abt-aft__subtitle abt-subtitle">Web Layouts</h3>
      <p>Around the same time, I got into designing and coding layouts for various blogs and even myspace. This was a good time!</p>
      <p><img class="abt-aft__layout" src="about/blog.png" alt="crappy blog layout" /></p>

      <h3 class="abt-aft__subtitle abt-subtitle">More and more</h3>
      <p>To add to the list, I took a liking to photography, PC building/gaming, and even windows desktop customization. The list goes on, but I think I should cut it here.</p>
      
    </div>
    

    <!-- Today -->
    <div class="pg-cnt__item abt-tdy">

      <h2 class="abt-title abt-aft__title">As of Late</h2>

      <h3 class="abt-tdy__subtitle">College</h3>
      <p>I graduated from San Diego State University with a degree in Art:Multimedia. I was surrounded by many digital mediums that I was definitely interested in. Mediums such as Typography, Graphic Design, Photography, Video Editing, 3d animation, and web design and development. From my time here, I always felt the best connection towards web development, so that's what I pursued.</p>

      <h3 class="abt-tdy__subtitle">In the Present</h3>
      <p>Fast-forward to today, I'm not as interesting as I was in my youth, but I've toned it down and mainly focus on web design/development. While the other digital mediums still catch my interest, there's just an overwhelming amount to learn. Hell, even web itself is always changing and it's hard to keep up, but that's what keeps it fun and interesting!</p>

      <blockquote class="bq">From my time here, I always felt the best connection towards web development, so that's what I pursued.</blockquote>

      <p>I currently work for Web Shop Manager, an eCommerce company, mainly as a front-end developer and designer. I've been here for 7 years now and though it's a great company, I'm looking to expand my horizons and take the next step in my career path. Ideally, I'd like to join a digital creative agency. This has always been a goal of mine, and I love the idea of being around various digital mediums with the common goal of helping clients strengthen their brand.</p>
    </div>
    
  </section>
</main>