---
title: "Process"
date: 2019-04-20T00:20:26-07:00
draft: false
metaDescr: "My work process"
---

<main class="pg pro">

  <!-- !Intro -->
  <header class="pg-int pro__item pf-pro">
    <div class="pg-int__inner">
      <h1 class="pg-title pg-title--pro pg-int__title">The <br /> Process</h1>
      <div class="pg-int__item">
        <p>My process for designing and building websites.</p>
      </div>

      <hr />
      <br />
      
    </div>
  </header>

  <div class="pg-cnt pg-cnt--vert pro__item">

    <!-- ! 01 Sitemap -->
    <section class="pro-item pro-sm pg-cnt__item">
      <div class="pro-sm__text pro__text">
        <h2 class="pro-sm__title"><span class="pro-num">01 </span>Site Map</h2>
        <p class="pro-sm__copy">To start, I always like to map out all of the pages and sections that will appear on the site. This way, I have a defined site map that I can reference to make sure that I am building out all of the pages. This also gives me a visual/rough idea of how long the build will take me.</p>
      </div>
  
      <div class="pro-sm__img-wrap pro__img-wrap">
        <img src="process/sitemap.png" alt=" Process" class="pro-sm__img" />
      </div>
    </section>
  
    <!-- ! 02 Wireframe -->
    <section class="pro-item  pro-wf pg-cnt__item">
      <div class="pro-wf__text pro__text">
        <h2 class="pro-wf__title"><span class="pro-num">02 </span>Wireframe</h2>
        <p class="pro-wf__copy">After the Site Map, I usually create a simple wireframe to establish the general layout of the various web pages. These layouts are usually simple boxes with placeholder images to indicate where specific items will be placed. This is obviously very rough, but it gives both the client and I a point of reference that can easily be adjusted or tweaked as necessary.</p>
      </div>
  
      <div class="pro-wf__img-wrap pro__img-wrap">
        <img src="process/wireframe.png" alt="Wireframe" class="pro-wf__img" />
      </div>
    </section>
  
    <!-- ! 03 Design -->
    <section class="pro-item  pro-des pg-cnt__item">
      <div class="pro-des__text pro__text">
        <h2 class="pro-des__title"><span class="pro-num">03 </span>Design</h2>
        <p class="pro-des__copy">Once I get approval on the wireframe, I move onto the design phase, which is generally in Photoshop. I understand that Photoshop is primarily a photo-editor, but it is what I am most comfortable with and it gives me the most freedom in terms of the designs I want to create. I realize that it may be slower than programs like Sketch and Adobe XD, but the end-result from using Photoshop is generally a higher-quality product from my experience. In this phase, I'll introduce color, texture, typography, and create any banners and graphics that are necessary.</p>
      </div>
  
      <div class="pro-des__img-wrap pro__img-wrap">
        <img src="process/design.png" alt="Design" class="pro-des__img" />
      </div>
    </section>
  
    <!-- ! 04 Build -->
    <section class=" pro-item pro-bld pg-cnt__item">
      <div class="pro-bld__text pro__text">
        <h2 class="pro-bld__title"><span class="pro-num">04 </span>Build</h2>
        <p class="pro-bld__copy">Lastly, once I get the design approval, I move onto the build phase. WMy ideal workflow in the build phase is make sure I have all the imagery and graphics created and uploaded, then start on populating the HTML first. Once I get a majority, if not all the HTML in place, then I like to start coding the CSS and JS if necessary. This workflow gives me the most efficient results, but I admit, there are times where I start the CSS before fully completing the HTML. It just depends on the project and it's requirements.</p>
      </div>
  
      <div class="pro-bld__img-wrap pro__img-wrap">
        <img src="process/build.png" alt="Build" class="pro-bld__img" />
      </div>
    </section>

  </div>

</main>