---
title: "Work"
date: 2019-04-20T00:20:57-07:00
draft: false
metaDescr: "Christian Ferrer -- Recent Web Work"
---

<main class="pg wrk">

  <!-- !Intro -->
  <header class="pg-int pf-wrk">
    <div class="pg-int__inner">
      <h1 class="pg-title pg-title--wrk pg-int__title">Recent <br /> Work</h1>
      <div class="pg-int__item">
        <p>Websites that I have both designed and built.</p>
        <p><small>I did not hyperlink these as I do not want my portfolio showing up in their analytics accounts. I am aware of rel="noreferrer", but I'd rather not risk that.</small></p>
      </div>
      
    </div>
  </header>

  <div class="pg-cnt wrk__items">

    <!-- * Item 1 -->
    <figure class="wrk__item wrk__item--primary">
      <div class="wrk__item-inner">
        <img srcset="work/bedslide@2x.jpg 800w , work/bedslide.jpg 400w" src="work/bedslide.jpg" alt="Bedslide"
          class="wrk__img" />
        <figcaption class="wrk__item-title">
          <div class="wrk__name">Bedslide</div>
          <div class="wrk__url">bedslide.com</div>
        </figcaption>
      </div>
    </figure>

    <!-- * Item 2 -->
    <figure class="wrk__item ">
      <div class="wrk__item-inner">
        <img srcset="work/paramountautomotive@2x.jpg 800w , work/paramountautomotive.jpg 400w"
          src="work/paramountautomotive.jpg" alt="Paramount" class="wrk__img" />
        <figcaption class="wrk__item-title">
          <div class="wrk__name">Paramount</div>
          <div class="wrk__url">paramount-automotive.com</div>
        </figcaption>
      </div>
    </figure>

    <!-- * Item 3 -->
    <figure class="wrk__item wrk__item--third">
      <div class="wrk__item-inner">
        <img srcset="work/moonlitediesel@2x.jpg 800w , work/moonlitediesel.jpg 400w" src="work/moonlitediesel.jpg"
          alt="Moonlite Diesel" class="wrk__img" />
        <figcaption class="wrk__item-title">
          <div class="wrk__name">Moonlite Diesel</div>
          <div class="wrk__url">moonlitediesel.com</div>
        </figcaption>
      </div>
    </figure>
    
    <!-- * Item 4 -->
    <figure class="wrk__item">
      <div class="wrk__item-inner">
        <img srcset="work/kermatdi@2x.jpg 800w , work/kermatdi.jpg 400w" src="work/kermatdi.jpg" alt="Kerma TDI" class="wrk__img" />
        <figcaption class="wrk__item-title">
          <div class="wrk__name">Kerma TDI</div>
          <div class="wrk__url">kermatdi.com</div>
        </figcaption>
      </div>
    </figure>
    
    <!-- * Item 5 -->
    <figure class="wrk__item">
      <div class="wrk__item-inner">
        <img srcset="work/tygerauto@2x.jpg 800w , work/tygerauto.jpg 400w" src="work/tygerauto.jpg" alt="Tyger Auto"
          class="wrk__img wrk__img--top-left" />
        <figcaption class="wrk__item-title">
          <div class="wrk__name">Tyger Auto</div>
          <div class="wrk__url">tygerauto.com</div>
        </figcaption>
      </div>
    </figure>
    
    <!-- * Item 6 -->
    <figure class="wrk__item">
      <div class="wrk__item-inner">
        <img srcset="work/paceperformance@2x.jpg 800w , work/paceperformance.jpg 400w" src="work/paceperformance.jpg" alt="Tyger Auto"
          class="wrk__img wrk__img--top-left" />
        <figcaption class="wrk__item-title">
          <div class="wrk__name">Pace Performance</div>
          <div class="wrk__url">paceperformance.com</div>
        </figcaption>
      </div>
    </figure>

    <!-- * Item 7 -->
    <figure class="wrk__item">
      <div class="wrk__item-inner">
        <img srcset="work/texascomplete@2x.jpg 800w , work/texascomplete.jpg 400w" src="work/texascomplete.jpg" alt="Tyger Auto"
          class="wrk__img wrk__img--top-left" />
        <figcaption class="wrk__item-title">
          <div class="wrk__name">Texas Complete</div>
          <div class="wrk__url">texascompletetc.com</div>
        </figcaption>
      </div>
    </figure>

    <!-- * Item 8 -->
    <figure class="wrk__item">
      <div class="wrk__item-inner">
        <img srcset="work/erlindas@2x.jpg 800w , work/erlindas.jpg 400w" src="work/erlindas.jpg" alt="Tyger Auto"
          class="wrk__img wrk__img--top-left" />
        <figcaption class="wrk__item-title">
          <div class="wrk__name">Erlinda's Filipino Cuisine</div>
          <div class="wrk__url">erlindas.com</div>
        </figcaption>
      </div>
    </figure>

    <!-- * Item 9 -->
    <figure class="wrk__item">
      <div class="wrk__item-inner">
        <img srcset="work/hef@2x.jpg 800w , work/hef.jpg 400w" src="work/hef.jpg" alt="Tyger Auto"
          class="wrk__img wrk__img--top-left" />
        <figcaption class="wrk__item-title">
          <div class="wrk__name">Happily Ever Ferrer</div>
          <div class="wrk__url">happilyeverferrer.com</div>
        </figcaption>
      </div>
    </figure>

  
    

  </div>

</main>